section.about
  img.about__stars(src="./img/stars-small.png", alt="stars")
  img.about__logo(src="./img/logo-star.png", alt="logo")
  h2.title.title_section.about__title WHO WE ARE
  p.about__text We Believe that appreciation and recognition and commerce matters! The veterans and active duty military personnel who selflessly serve(d) our beloved Country deserve it and the businesses that provide "veteran & military-friendly" goods and services deserve it as well. We serve those who serve by providing a platform for them to connect with one another. GreenZone Hero provides tangible recognition and appreciation and commerce for both businesses and veterans and active military personnel -a place where veterans and military in particular and, all Americans in general, can . . . 

