section.benefits
  h2.title.title_section.benefits__head Benefits
  .benefits__content
    h3.benefits__title STRATEGY
    p.benefits__text Beyond just Military Discounts, we will provide your business with a Comprehensive Best Practices Ops Manual and relevant case studies for attracting more veteran & military customers.
    p.benefits__text No more missed targets when executing Military Friendly awareness, promotions and outreach.
    button.benefits__btn.btn.btn_secondary JOIN NOW