section.featured
  <blockquote class="quote featured__quote">
    <p>Opportunities don't happen. You create them</p>
    <cite class="quote__author">- Chris Grosser</cite>
  </blockquote>
  .featured__main
    .featured__left
      h2.title.title_section.title_img.featured__title FEATURED CLIENTS 
        span.title__icon(style='background-image: url(../img/city.svg)')
      .featured__specifications
        include ../components/specifications
      .featured__awards
        .awards
          img.awards__item(src="./img/award_1.png", alt="award 1")
          img.awards__item(src="./img/award_2.png", alt="award 2") 
          img.awards__item(src="./img/award_3.png", alt="award 3") 
        
    .featured__right
      img.featured__img(src="./img/banner.png", alt="banner") 
        