header.header
  .header__top
    .header__left
      img.header__logo(src="./img/logo-star.png", alt="Logo")
    .header__middle
      h2.title.title_section.header__title Home
      h2.title.title_slogan BROWSE BUSINESSES
    .header__right
      .header__authorize
        include ../components/authorize
      .header__socials
        include ../components/socials
  .header__main
    h2.subtitle FIND YOUR COMMUNITY WITH
    h1.title.title_primary GREENZONE HERO
    button.btn.btn_primary Find a Business

