section.map
  .map__icon
    img(src="./img/join.png", alt="Join")
  .map__bg(style='background-image: url(../img/map.jpg)')
  .map__content
    h2.title.title_primary.title_dot ADD YOUR BUSINESS TO THE MAP
    button.btn.btn_primary Join Now
  img.map__stars(src="./img/stars.png", alt="Stars")